<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/script7.js"></script>
    <title>Questão 7</title>
</head>
<body>
    <h2>Saiba o valor a receber na aposentadoria.</h2>
 <span><b> Preencha todos os  campos.</b></span>
    <br/><br/>  
    <label>
        Valor =
        <input type="number" id="valor" placeholder="Valor a investir?">
    </label> 
        <br/><br/>
        <label>
      Idade =
        <input type="number" id="idade" placeholder="Sua idade?">
    </label>
        <br/><br/>
        <label>
        Tempo =
        <input type="number" id="tempo" placeholder="Tempo de contribuição?">
    </label>
        <br><br>

        <button onclick="previdencia()">Receber</button>

        <br/><br/>

        <p id="receber"></p>
        <p id="saber">Quanto para se aposentar?</p>

</body>
</html>