<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/script8.js"></script>
    <title>Melhor investimento</title>
</head>
<body>
    <h1>Saiba qual é o melhor investimento.</h1>
    <label>Valor 
    <input type="number" id="dinheiro" placeholder="Qual o valor em dinheiro?">
    <br>   <br>
    </label>

    <label>Taxa I
    <input type="number" id="valorI" placeholder="Digite o valor da taxa I?" >
    <br>   <br>
    </label>

    <!--<label>Taxa II
    <input type="number" id="valorII" placeholder="Digite o valor da taxa II?" >
    <br>   <br>
    </label>

    <label>Taxa III
    <input type="number" id="valorIII" placeholder="Digite o valor da taxa III?" >
    <br>   <br>
    </label>

    <label>Taxa IV
    <input type="number" id="valorIV" placeholder="Digite o valor da taxa IV" >
    <br>   <br> -->
    </label>

    <button type="button" onclick="MelhorI()">Melhor investimento</button>
<p id="resultado"></p>
</body>
</html>